
<h1>
  Team Members
</h1>

<div class="info">
  <div class="Ez">
    <ul class="details">
      <li class="name">
        Xuanmin Mai
      </li>
      <li>
        986173485a@gmail.com
      </li>
      <li>
        China
      </li>
    </ul>
  </div>

  <div class="An">
    <ul class="details">
      <li class="name">
        
          An Hoang Pham
        
      </li>
      <li>
        anphamhkn@gmail.com
      </li>
      <li>
        Vietnam
      </li>
    </ul>
  </div>

  <div class="Howard">
    <ul class="details">
      <li class="name">
        
          Ming-Hao Lee
        
      </li>
      <li>
        howard199668@gmail.com
      </li>
      <li>
        Taiwan
      </li>
    </ul>
  </div>

</div>






  <ngx-chatbox [chatConfig]="config"
               (onMessageInput)="getMessage($event)"
               [serverResponse]="response"
               style="margin:auto; float:right; "></ngx-chatbox>

