<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  @@ -11,4 +11,21 @@ <h1>Hello, world!</h1>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="zh_CN" data-size="medium" data-theme="light"
     data-type="HORIZONTAL" data-vanity="xuanmin-mai-762707237" data-version="v1">
  <a class="badge-base__link LI-simple-link"
     href="https://www.linkedin.com/in/xuanmin-mai-762707237?trk=profile-badge">Xuanmin Mai</a>
</div>


<ngx-chatbox [chatConfig]="config"
             (onMessageInput)="getMessage($event)"
             [serverResponse]="response"></ngx-chatbox>
